@model SportsStore.Domain.Entities.ShippingDetails

@{ 
    ViewBag.Title = "스포츠 상점: Check out";
}
<h2>Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
    <h3>ship to</h3>
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x=>x.Name,new { @class="form-control" })
    </div>

    <h3>Address</h3>
    foreach (var item in ViewData.ModelMetadata.Properties)
    {
        if (item.PropertyName != "Name" && item.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(item.DisplayName ?? item.PropertyName)</label>
                @Html.TextBox(item.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x=>x.GiftWrap)
            Gift wrap these items
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete order" />
    </div>
}